<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miguoma.by.modules.record.mapper.RecordBoxCodeMapper">
    <select id="pageVO" resultType="com.miguoma.by.modules.record.vo.RecordBoxCodeVO">
        select
        a.id id,
        a.code code,
        a.UPLOAD_DATE_TIME uploadDateTime,
        a.PULL_DATE_TIME pullDateTime,
        a.PULL_TYPE pullType,
        b.ORDER_NO finishedOrderNo,
        c.ORDER_NO semiFinishedOrderNo,
        a.CRIB_DATE_TIME cribDateTime,
        a.crib_code cribCode
        from record_box_code a
        inner join production_order b on a.finished_product_order_id = b.id
        inner join production_order c on a.semi_finished_product_order_id = c.id
        <where>
            <if test="query.code != null and query.code != ''">
                a.code = #{query.code}
            </if>
            <if test="query.finishedOrderNo != null and query.finishedOrderNo != ''">
             and   b.order_no = #{query.finishedOrderNo}
            </if>
            <if test="query.semiFinishedOrderNo != null and query.semiFinishedOrderNo != ''">
           and    c.order_no = #{query.semiFinishedOrderNo}
            </if>
            <if test="query.cribCode != null and query.cribCode != ''">
               and a.crib_code = #{query.cribCode}
            </if>
            <if test="query.cribDateTimeBegin != null">
               and a.crib_date_time &gt;= #{query.cribDateTimeBegin}
            </if>
            <if test="query.cribDateTimeEnd != null">   
               and a.crib_date_time &lt;= #{query.cribDateTimeEnd}
            </if>
            <if test="query.uploadDateTimeBegin != null">
               and a.upload_date_time &gt;= #{query.uploadDateTimeBegin}
            </if>
            <if test="query.uploadDateTimeEnd != null">
               and a.upload_date_time &lt;= #{query.uploadDateTimeEnd}
            </if>
            <if test="query.pullType != null and query.pullType != ''">
               and a.pull_type = #{query.pullType}
            </if>
            <if test="query.uploadFlag != null">
               and a.upload_date_time is not null
            </if>
            <if test="query.cribFlag != null">
               and a.crib_date_time is not null
            </if>
        </where>

        order by a.id desc


    </select>
    <select id="getVOByCode" resultType="com.miguoma.by.modules.record.vo.RecordBoxCodeVO">

        select a.id id,
               a.code code,
               a.upload_date_time uploadDateTime,
               a.pull_date_time pullDateTime,
               b.order_no finishedOrderNo,
               c.order_no semiFinishedOrderNo,
               a.CRIB_CODE cribCode,
               a.CRIB_DATE_TIME cribDateTime
        from record_box_code a
                 inner join production_order b on a.finished_product_order_id = b.id
                 inner join production_order c on a.semi_finished_product_order_id = c.id
        where a.code = #{code}
    </select>
</mapper>