<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miguoma.by.modules.system.mapper.SysUserMapper">

    <select id="getList" resultType="com.miguoma.by.modules.system.entity.SysUser"> SELECT t1.* FROM
        sys_user t1 WHERE t1.super_admin = 0 AND t1.deleted = 0 <if
            test="query.username != null and query.username.trim() != ''"> AND t1.username =
        #{query.username} </if>
    </select>

    <select id="getById" resultType="com.miguoma.by.modules.system.entity.SysUser"> SELECT t1.* FROM sys_user t1 WHERE
        t1.id = #{id}  </select>

    <select id="getRoleUserList" resultType="com.miguoma.by.modules.system.entity.SysUser"> SELECT
        t1.* FROM sys_user t1 LEFT JOIN sys_user_role t2 ON t1.id = t2.user_id WHERE t1.deleted = 0
        AND t2.deleted = 0 AND t2.role_id = #{roleId} <if
            test="username != null and username.trim() != ''"> AND t1.username = #{username} </if>
        <if
            test="mobile != null and mobile.trim() != ''"> AND t1.mobile = #{mobile} </if>
        <if
            test="gender != null"> AND t1.gender = #{gender} </if>
    </select>

</mapper>
